{% extends 'base.html.twig' %}

{% block title %}Find your perfect route{% endblock %}

{% block body %}

    <div class="splash immersive progressive-bg-image small" data-large="https://lh3.googleusercontent.com/frxoy1aAnAvJAqfyvN86tm3s8qzlW88YWoNcSVFQaYsK9-_6dG4rXxKkBwcDT7ANSHMHyTaFEHxaiOdiMQs=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text">
            <h1 class="small">Route Explorer for Strava</h1>
            <h2 class="title">Giving you back what Strava has taken away.</h2>
            <div class="action">
                {% if app.user %}
                    <a href="{{ path('routes') }}" class="button">Explore routes</a>
                {% else %}
                    <a href="{{ path('strava_auth') }}"><img src="/images/btn_strava_connectwith_orange.png" title="Connect with Strava" alt="Connect with Strava" width="193" height="48" /></a>
                {% endif %}
            </div>
        </div>
        <div class="arrow bounce"><img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTI0LjI4NSwxMS4yODRMMTYsMTkuNTcxbC04LjI4NS04LjI4OGMtMC4zOTUtMC4zOTUtMS4wMzQtMC4zOTUtMS40MjksMCAgYy0wLjM5NCwwLjM5NS0wLjM5NCwxLjAzNSwwLDEuNDNsOC45OTksOS4wMDJsMCwwbDAsMGMwLjM5NCwwLjM5NSwxLjAzNCwwLjM5NSwxLjQyOCwwbDguOTk5LTkuMDAyICBjMC4zOTQtMC4zOTUsMC4zOTQtMS4wMzYsMC0xLjQzMUMyNS4zMTksMTAuODg5LDI0LjY3OSwxMC44ODksMjQuMjg1LDExLjI4NHoiIGZpbGw9IiNmZmYiIGlkPSJtb3JlIi8+PGcvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PC9zdmc+" /></div>
    </div>

    <div class="remember">
        <h2 class="title">
            Remember Strava's Route Explore?
        </h2>
        <div class="description">
            That's long gone now. No Clusterer anymore either.
            Now we have <a class="external" href="https://www.strava.com/routes/new">Route Builder</a>, <a class="external" href="https://www.strava.com/heatmap">Global Heatmap</a> and <a class="external" href="https://www.strava.com/local/">Local City Guides</a> -
            which are all great, but there is still no way to easily search for interesting routes in a specific area, crafted and tested by local athletes.
            Even though <a class="external" href="https://web.archive.org/web/20191130221803/https://support.strava.com/hc/en-us/community/posts/208839377-Search-or-Explore-feature-for-Strava-Routes">everyone and their dog has been asking for it for years now</a>.
        </div>
        <div class="description">
            The times, however, they are a-changin'. Say hello to <a class="external" href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/About">Route Explorer for Strava</a>.
        </div>
    </div>

    <div class="how map-bg">
        <h2 class="title">Find your perfect route.</h2>
        <div class="steps light-background">
            <div class="step step1">
                <div class="no">1</div>
                <h3 class="title">Connect with STRAVA</h3>
                <div class="description">
                    We respect your privacy. That's why before allowing anyone access to other athletes' routes we ask everyone to authorize with Strava first.
                    {#This site is free to use for everyone, but for data protection reasons we ask you to connect with your Strava account first before accessing the routes.#}
                </div>
                <div class="strava-button">
                    {% if app.user %}
                        <img src="/images/btn_strava_connectwith_light.png" title="Connect with Strava" alt="Connect with Strava" width="193" height="48" />
                    {% else %}
                        <a href="{{ path('strava_auth') }}"><img src="/images/btn_strava_connectwith_orange.png" title="Connect with Strava" alt="Connect with Strava" width="193" height="48" /></a>
                    {% endif %}
                </div>
            </div>
            <div class="step step2">
                <div class="no">2</div>
                <h3 class="title">Sync and share your routes</h3>
                <div class="description">
                    Both your public and private routes are synchronised from Strava (private stay private by default). You can manually select which routes to share with the community.
                </div>
                {% if app.user %}
                    <a href="{{ path('sync_my_routes') }}" class="button">Sync your routes</a>
                {% else %}
                    <a class="button disabled" title="Connect with Strava first">Sync your routes</a>
                {% endif %}
            </div>
            <div class="step step2">
                <div class="no">3</div>
                <h3 class="title">Find your perfect route</h3>
                <div class="description">
                    Browse and search our database of bike and run routes. Filter results by name, distance, elevation gain, athlete, start/end location, and more.
                </div>
                {% if app.user %}
                    <a href="{{ path('routes') }}" class="button">Explore all routes</a>
                {% else %}
                    <a class="button disabled" title="Connect with Strava first">Explore all routes</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="enjoy immersive splash progressive-bg-image small" data-large="https://lh3.googleusercontent.com/Z4AVWAUAR2JjxeVpFZRxZ2MIoXIR4G61jUh8GWbosmIE72t152mH65XRb_D0qTVU_iZh2HAfSG0MldEeMkc=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text">
            <div class="no">4</div>
            <div class="title">Enjoy your ride.</div>
        </div>
        <div class="credits">
            <div class="ride">
                <div class="athlete">
                    {% if app.user %}<a href="https://www.strava.com/athletes/20391452">{% endif %}
                        Emily M
                    {% if app.user %}</a>{% endif %}
                </div>
                <div class="route">
                    {% if app.user %}<a href="{{ path('routes', { 'filter[name]': 'Route Des Grandes Alpes'}) }}">{% endif %}
                        La Route des Grandes Alpes
                    {% if app.user %}</a>{% endif %}
                </div>
                <div class="stats">
                    <div class="location">Nice, France</div>
                    <div class="distance">670 km</div>
                    <div class="elevation_gain">15,292 m</div>
                </div>
            </div>
            <div class="avatar">
                {% if app.user %}<a href="https://www.strava.com/athletes/20391452">{% endif %}
                    <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/20391452/7590193/2/large.jpg" width="60" height="60" />
                {% if app.user %}</a>{% endif %}
            </div>
        </div>
    </div>

    <div class="help immersive splash white progressive-bg-image small" data-large="https://lh3.googleusercontent.com/FXVuv78Ck_BPJqNOI_RXmvpz2EUwG1PmvTCaQqK3qhbNVO8MYwfkgHM46dtb5U57GqHrdrRwzr2uvlFFhkg=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text-overlay"></div>
        <div class="text">
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/About">about</a></div>
                <div class="description">What this is all about.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/FAQ">faq</a></div>
                <div class="description">Frequently Asked Questions. Have one which is not covered here? Try our WhatsApp group below.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/issues">issues</a></div>
                <div class="description">Have a new feature suggestion? Found a bug? This is the official place to report them.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://chat.whatsapp.com/4JQyW36fqxL3VzFja0115c">whatsapp</a></div>
                <div class="description">Group for app-related friendly chat. Unofficial feature requests and bug reports might be posted here too.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://www.meetup.com/Paris-Cycling-B-Group/">meetup</a></div>
                <div class="description">Where it all started, and what it was originally needed for.</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('immersive') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('immersive') }}
{% endblock %}
