{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <div class="app">
        <div class="title">Strava Route Explorer</div>
        <div class="strapline">Giving you back what Strava has taken away.</div>
    </div>
    <div class="step1">
        <div class="step">Step 1.</div>
        <div class="step-title">Connect with STRAVA<br />and sync your public routes.</div>
        <div class="step-desc">
            Only your public routes will be synchronised from Strava.
            <br />You can also manually add individual routes by their id,
            <br />even if they were created by other athletes. See <a href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/FAQ">FAQ</a>.
        </div>
        <a href="{{ path('strava_auth') }}" class="button">Connect with Strava</a>
    </div>
    <div class="step2">
        <div class="step">Step 2.</div>
        <div class="step-title">Browse and search<br />{{ route_count|number_format }} routes from {{ athlete_count|number_format }} athletes.</div>
        <div class="step-desc">
            Browse and search our database of bike and run routes.
            <br />Filter results by name, distance, elevation gain, and more.
        </div>
        <a href="{{ path('routes') }}" class="button">Explore routes</a>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/home.css') }}" />
{% endblock %}
