{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block body %}

    <div class="splash immersive progressive-bg-image small" data-large="https://lh3.googleusercontent.com/frxoy1aAnAvJAqfyvN86tm3s8qzlW88YWoNcSVFQaYsK9-_6dG4rXxKkBwcDT7ANSHMHyTaFEHxaiOdiMQs=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text">
            <h1 class="small">Strava Route Explorer</h1>
            <h2 class="title">Giving you back what Strava has taken away.</h2>
            <div class="action">
                {% if current_athlete is defined and current_athlete or open_access %}
                    <a href="{{ path('routes') }}" class="button">Explore routes</a>
                {% else %}
                    <a href="{{ path('strava_auth') }}" class="button">Connect with Strava</a>
                {% endif %}
            </div>
        </div>
        <div class="arrow bounce"><img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHBhdGggZD0iTTI0LjI4NSwxMS4yODRMMTYsMTkuNTcxbC04LjI4NS04LjI4OGMtMC4zOTUtMC4zOTUtMS4wMzQtMC4zOTUtMS40MjksMCAgYy0wLjM5NCwwLjM5NS0wLjM5NCwxLjAzNSwwLDEuNDNsOC45OTksOS4wMDJsMCwwbDAsMGMwLjM5NCwwLjM5NSwxLjAzNCwwLjM5NSwxLjQyOCwwbDguOTk5LTkuMDAyICBjMC4zOTQtMC4zOTUsMC4zOTQtMS4wMzYsMC0xLjQzMUMyNS4zMTksMTAuODg5LDI0LjY3OSwxMC44ODksMjQuMjg1LDExLjI4NHoiIGZpbGw9IiNmZmYiIGlkPSJtb3JlIi8+PGcvPjxnLz48Zy8+PGcvPjxnLz48Zy8+PC9zdmc+" /></div>
    </div>

    <div class="remember">
        <h2 class="title">Remember Strava's Route Explore?</h2>
        <div class="description">That's long gone now. No Clusterer anymore either. Now we have <a href="https://www.strava.com/routes/new">Route Builder</a>, <a href="https://www.strava.com/heatmap">Global Heatmap</a> and <a href="https://www.strava.com/local/">Local City Guides</a> - which are all great, but still there is no way to easily search for interesting routes in the area made and tested by other athletes. Even though <a href="https://support.strava.com/hc/en-us/community/posts/208839377-Search-or-Explore-feature-for-Strava-Routes">everyone and their dog has been asking for it for years now</a>.</div>
        <div class="description">The times, however, they are a changin'. Say hello to Strava Route Explorer.</div>
    </div>

    <div class="how">
        <h2 class="title">Find your perfect route.</h2>
        <div class="steps">
            <div class="step step1">
                <div class="no">1</div>
                <h3 class="title">Connect with STRAVA</h3>
                <div class="description">
                    We respect your privacy. That's why before allowing anyone access to other athletes' routes we ask everyone to authorize with Strava first.
                    {#This site is free to use for everyone, but for data protection reasons we ask you to connect with your Strava account first before accessing the routes.#}
                </div>
                {% if current_athlete is defined and current_athlete %}
                    <a class="button disabled">Connect with Strava</a>
                {% else %}
                    <a href="{{ path('strava_auth') }}" class="button">Connect with Strava</a>
                {% endif %}
            </div>
            <div class="step step2">
                <div class="no">2</div>
                <h3 class="title">Sync your public routes</h3>
                <div class="description">
                    Only your public routes will be synchronised from Strava. You can also manually select which routes you want to share with the community.
                </div>
                {% if current_athlete is defined and current_athlete %}
                    <a href="{{ path('routes_sync_mine') }}" class="button">Sync your routes</a>
                {% else %}
                    <a class="button disabled" title="Connect with Strava first">Sync your routes</a>
                {% endif %}
            </div>
            <div class="step step2">
                <div class="no">3</div>
                <h3 class="title">Find your perfect route</h3>
                <div class="description">
                    Browse and search our database of bike and run routes. Filter results by name, distance, ascent, athlete, start/end location, and more.
                </div>
                {% if current_athlete is defined and current_athlete or open_access %}
                    <a href="{{ path('routes') }}" class="button">Explore all routes</a>
                {% else %}
                    <a class="button disabled" title="Connect with Strava first">Explore all routes</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="enjoy immersive progressive-bg-image small" data-large="https://lh3.googleusercontent.com/Z4AVWAUAR2JjxeVpFZRxZ2MIoXIR4G61jUh8GWbosmIE72t152mH65XRb_D0qTVU_iZh2HAfSG0MldEeMkc=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text">
            <div class="no">4</div>
            <div class="title">Enjoy your ride.</div>
        </div>
        <div class="credits">
            <div class="ride">
                <div class="athlete">
                    {% if current_athlete is defined and current_athlete or open_access %}<a href="https://www.strava.com/athletes/20391452">{% endif %}
                        Emily M
                    {% if current_athlete is defined and current_athlete or open_access %}</a>{% endif %}
                </div>
                <div class="route">
                    {% if current_athlete is defined and current_athlete or open_access %}<a href="{{ path('routes', { 'filter[name]': 'Route Des Grandes Alpes'}) }}">{% endif %}
                        La Route des Grandes Alpes
                    {% if current_athlete is defined and current_athlete or open_access %}</a>{% endif %}
                </div>
                <div class="stats">
                    <div class="location">Nice, France</div>
                    <div class="distance">670 km</div>
                    <div class="ascent">15,292 m</div>
                </div>
            </div>
            <div class="avatar">
                {% if current_athlete is defined and current_athlete or open_access %}<a href="https://www.strava.com/athletes/20391452">{% endif %}
                    <img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/20391452/7590193/2/large.jpg" width="60" height="60" />
                {% if current_athlete is defined and current_athlete or open_access %}</a>{% endif %}
            </div>
        </div>
    </div>

    <div class="help immersive white progressive-bg-image small" data-large="https://lh3.googleusercontent.com/FXVuv78Ck_BPJqNOI_RXmvpz2EUwG1PmvTCaQqK3qhbNVO8MYwfkgHM46dtb5U57GqHrdrRwzr2uvlFFhkg=w1200-no-tmp.jpg">
        <div class="overlay"></div>
        <div class="text-overlay"></div>
        <div class="text">
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/About">about</a></div>
                <div class="description">What this is all about.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/wiki/FAQ">faq</a></div>
                <div class="description">Frequently Asked Questions. Have one which is not covered here? Try our WhatsApp group below.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://github.com/maciejzgadzaj/strava-route-explorer/issues">issues</a></div>
                <div class="description">Have a new feature suggestion? Found a bug? This is the official place to report them.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://chat.whatsapp.com/4JQyW36fqxL3VzFja0115c">whatsapp</a></div>
                <div class="description">Group for app-related friendly chat. Unofficial feature requests and bug reports might be posted here too.</div>
            </div>
            <div class="item">
                <div class="title"><a href="https://www.meetup.com/Paris-Cycling-B-Group/">meetup</a></div>
                <div class="description">Where it all started, and what it was originally needed for.</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/homepage.css') }}" />
    <link rel="stylesheet" media='screen and (max-width: 760px)' href="{{ asset('build/homepage-mobile.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(window).scroll(function(){
            $(".arrow").css("opacity", 1 - $(window).scrollTop() / 250);
        });

        // https://css-tricks.com/snippets/javascript/loop-queryselectorall-matches/
        function loadAllProgressiveImages() {
            var progressiveBgImages = document.querySelectorAll(".progressive-bg-image");
            [].forEach.call(progressiveBgImages, function(progressiveBgImage) {
                var imgLarge = new Image();
                imgLarge.src = progressiveBgImage.dataset.large;
                imgLarge.onload = function () {
                    progressiveBgImage.style.backgroundImage = "url("+progressiveBgImage.dataset.large+")";
                    progressiveBgImage.classList.remove('small');
                };
            });
        }

        $(document).ready(function(){
            loadAllProgressiveImages();
        });
    </script>
{% endblock %}
