<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>{% block title %}Strava Route Explorer{% endblock %} - Strava Route Explorer</title>
        <meta name="description" content="Browse and search our database of bike and run routes. Filter results by name, distance, elevation gain, athlete, start/end location, and more.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tag }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ google_analytics_tag }}');
        </script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block flash %}
            <div class="flashes">
                {% if is_granted('IS_IMPERSONATOR') %}
                    <div class="flash flash-notice center">
                        Impersonating <a title="See all routes by {{ app.user.name }}" href="{{ path('routes', { 'filter[athlete]': app.user.name }) }}"><strong>{{ app.user.name }}</strong></a> ({{ app.user.id }}). <a href="{{ path('athletes_unimpersonate') }}">Log out</a>
                    </div>
                {% endif %}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="flash flash-{{ label }}">
                            {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" defer></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
