{% extends 'base.html.twig' %}

{% block title %}{{ 'Select routes to publish'|trans }} - {{ parent() }}{% endblock %}

{% block header %}
    {#<div class="header">#}
        {#<div class="logo-title">#}
            {#<a href="{{ path('homepage') }}"><img src="../../../images/logo.png" alt="Strava Route Explorer" title="Strava Route Explorer" width="125" height="35" /></a>#}
        {#</div>#}
    {#</div>#}
{% endblock %}

{% block body %}
    <div class="page page_routes">
        <div class="head">
            <div class="cell checkbox"><input type="checkbox" id="select_all_header" class="select_all" name="select_all" checked="checked" /></div>
            <div class="cell id">Id</div>
            <div class="cell name">Name</div>
            <div class="cell distance">Distance</div>
            <div class="cell ascent">Elevation</div>
            <div class="cell athlete">Author</div>
            <div class="cell created">Created</div>
            <div class="cell updated">Updated</div>
        </div>

        {{ form_start(publish_form) }}
        {% set delta = 0 %}
        <div class="rows">
            {% for route in strava_routes %}
                {% if not route.private %}
                    <div class="row {{ cycle(['odd', 'even'], delta) }}">
                        {# We cannot use loop.index0 instead of delta, as we don't want
                           increased value in case of private routes. #}
                        <div class="cell checkbox">{{ form_row(publish_form.route[delta]) }}</div>
                        <div class="cell id">{{ route.id }}</div>
                        <div class="cell name">{{ route.name }}</div>
                        <div class="cell distance number">{{ (route.distance // 1000) | number_format }} km</div>
                        <div class="cell ascent number">{{ route.elevation_gain | number_format }} m</div>
                        <div class="cell athlete">{{ route.athlete.firstname }} {{ route.athlete.lastname }}</div>
                        <div class="cell created">{{ route.created_at | date('Y-m-d') }}</div>
                        <div class="cell updated">{{ route.updated_at | date('Y-m-d') }}</div>
                    </div>
                    {% set delta = delta + 1 %}
                {% endif %}
            {% endfor %}
            <div class="submit">
                <div class="toggle">
                    <label for="select_all_header"><input type="checkbox" id="select_all_header" class="select_all" name="select_all" checked="checked" /> Select all/none</label>
                </div>
                {{ form_widget(publish_form.publish) }}
                <div class="cancel">
                    {% set uri = path('routes') %}
                    {% if app.session.get('strava_redirect_destination') %}
                        {% set uri = path(app.session.get('strava_redirect_destination').route, app.session.get('strava_redirect_destination').query) %}
                    {% endif %}
                    <a href="{{ uri }}">cancel sync</a>
                </div>
            </div>
        </div>
        {{ form_end(publish_form) }}

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/select.css') }}">
    <link rel="stylesheet" media='screen and (max-width: 760px)' href="{{ asset('build/select-mobile.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        function setAllCheckboxes(){
            var total = $('input[name="publish[route][]"]').length;
            var checked = $('input[name="publish[route][]"]:checked').length;
            if (checked == total) {
                $('.select_all').prop("indeterminate", false);
                $('.select_all').prop("checked", true);
            }
            else if (checked == 0) {
                $('.select_all').prop("indeterminate", false);
                $('.select_all').prop("checked", false);
            }
            else {
                $('.select_all').prop("checked", false);
                $('.select_all').prop("indeterminate", true);
            }
        }

        $(document).ready(function () {
            setAllCheckboxes();

            $(".select_all").on('click', function() {
                var state = this.checked;
                $('input[name="publish[route][]"]').each(function () {
                    this.checked = state;
                });
                setAllCheckboxes();
            });

            $(".row").on("click", function(){
                var checkbox = $(this).find("input");
                checkbox.prop("checked", !checkbox.prop("checked"));
                setAllCheckboxes();
            });
        });
    </script>
{% endblock %}
